{% extends "layout.html" %}

{% block content %}

<!--Pictures of proejct coordinators-->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Project coordinators</h3>
        <p class="panel-subtitle"> 
            The initial project was coordinated by T. Jesper Jacobsson and Eva Unger active at Helmholtz Zentrum Berlin
        </p>
    </div>

    <div class="panel-body">
        <img src="/static/img_persons/Jesper Eva.png" style="max-width:1000px;width:100%">
    </div>
</div>

<!--Picturs of all contributors-->
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Project contributors</h3>
        <p class="panel-subtitle">
            To make this project possible, a large number of people have been involved
        </p>

    </div>

    <div class="panel-body">
        <img src="/static/img_persons/All coauthors.png" style="width:100%">
    </div>
</div>


{% endblock %}