{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
    </div>

    <div class="panel-body">
        <p>If you would like to contact the project coordinators and discuss for example:</p>
        <ul>
            <li>Technical details</li>
            <li>Extensions to the project</li>
            <li>Adding new resources, e.g. links to papers, new code, new graphics, etc.</li>
            <li>Problems encountered</li>
            <li>Etc.</li>
        </ul>
        <p>Please send us an email:</p>
        <p>Jesper Jacobsson: <a href="mailto:Jacobsson.jesper.work@gmail.com">Jacobsson.jesper.work@gmail.com</a></p>
        <p>Eva Unger: <a href="mailto:eva.unger@helmholtz-berlin.de">eva.unger@helmholtz-berlin.de</a></p>
    </div>
</div>


{% endblock %}