{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Core funding</h3>
    </div>

    <div class="panel-body">
        <p>The core funding of the project has been received from the European Union&rsquo;s Horizon 2020 research and innovation program under grant agreement No. 787289.</p>

        <p><a title="Greco" href="https://www.greco-project.eu/the-project/"><img src="/static/img/Greco logo and EU flag.png" style="max-width:600px;width:100%"></a></p>
    </div>

</div>

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Institutional suport</h3>
    </div>

    <div class="panel-body">
        <p>We acknowledge Helmholtz-Zentrum Berlin fur Materialien und Energie for economic and technical support for keeping the project online for the forceable future.</p>

        <p><a title="HZB" href="https://www.helmholtz-berlin.de/index_en.html"><img src="/static/img/HZB logo.png" style="max-width:600px;width:100%"></a></p>

    </div>

</div>

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Technical support</h3>
    </div>

    <div class="panel-body">
        <p>We acknowledge MaterialsZone (<a href="https://www.materials.zone" target="_blank" rel="noopener">https://www.materials.zone</a>) for technical assistance and for hosting the project&rsquo;s cloud resources.</p>

        <p><a title="MZ" href="https://www.materials.zone/"><img src="/static/img/materialszone_logo.png" style="max-width:600px;width:100%"></a></p>

    </div>

</div>






{% endblock %}
