{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">How to cite the project</h3>
    </div>

    <div class="panel-body">
        <p>This project was first described in a paper published in Nature Energy in 2021 with the title:</p>
        <p>An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles by Jacobsson et al.</p>
        <p>The paper is published open sourced and available at:</p>
        <p><a title="An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles" href="https://www.nature.com/articles/s41560-021-00941-3" target="_blank" rel="noopener">The Release Paper</a></p>

        <p>If you use the resources developed in the project, we appreciate if you cite that paper</p>
    </div>

</div>

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">License</h3>
    </div>

    <div class="panel-body">
        <p>Unless otherwise noted, the data in the database are available under the
        <a title="" href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener">Creative Commons Attribution 4.0 International license</a>
        and the code is available under the
        <a title="" href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT license</a></p>
    </div>

</div>

{% endblock %}