{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">How to cite the project</h3>
    </div>

    <div class="panel-body">
        <p>This project was first described in a paper published in XXX in XXX with the title</p>
        <p>The Perovskite Database Project: Releasing the Power of the Crowd with FAIR Data Management</p>
        <p>The paper is published open sourced and available at:</p>
        <p><a title="article name" href="To be filled in" target="_blank" rel="noopener">The Release Paper</a></p>
    
        <p>If you use the resources developed in the project, we appreciate if you cite that paper</p>
    </div>
</div>


{% endblock %}