{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Interactive graphics</h3>
    </div>

    <div class="panel-body">
        <p>The latest versions of interactive graphics are available at:<br><a href="https://nomad-lab.eu/prod/v1/gui/search/perovskite-solar-cells-database" target="_blank" rel="noopener">https://nomad-lab.eu/prod/v1/gui/search/perovskite-solar-cells-database</a></p>
        <p>The interactive graphics described in the original paper were hosted by <a href="https://www.materials.zone" target="_blank" rel="noopener">MaterialsZone</a>.</p>
        <p>For the moment, those apps are not online, but the code for running them locally is available at:<br><a href="https://github.com/Jesperkemist/perovskitedatabase" target="_blank" rel="noopener">https://github.com/Jesperkemist/perovskitedatabase</a></p>
    </div>
</div>

{% endblock %}
