{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">The release paper</h3>
    </div>

    <div class="panel-body">
        <p>This project was first described in a paper published in Nature Energy in 2021 with the title:</p>
        <p>An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles by Jacobsson et al.</p>
        <p>The paper is published open sourced and available at:</p>
        <p><a title="An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles" href="https://www.nature.com/articles/s41560-021-00941-3" target="_blank" rel="noopener">The Release Paper</a></p>
    </div>
</div>


<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Papers based on the Perovskite Database</h3>
    </div>

    <div class="panel-body">
        <p>
            We expect a number of papers to be published based on the Perovskite Database Project
            and the data in the Perovskite Database. The intention is to link to all those papers here.
            Do you think that your paper is missing in the list, please send an email to the project coordinators.
        </p>

        <p><strong>Links to papers</strong></p>
        <p><a title="An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles" href="https://www.nature.com/articles/s41560-021-00941-3" target="_blank" rel="noopener">1. An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles</a></p>
        <p><!--<a title="Paper n" href="to be filled in" target="_blank" rel="noopener">Paper n</a>--></p>
    </div>
</div>

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Ongoing projects</h3>
    </div>

    <div class="panel-body">
        <p>
            If you are doing, or would like to do, a collaborative project based on the Perovskite Database,
            you are welcome to advertise that project here.  Just send an email to the project coordinators
            (i.e. Jesper Jacobsson)
        </p>

        <p><strong>Projects</strong></p>
        <ul>
            <li>
                <p>
                    Extending the perovskite database to also include data for tandem cells
                    Coordinated by: Jesper Jacobsson: Jacobsson.jesper.work@gmail.com
                </p>
            </li>

            <li>
                <p>
                    Collective Insight from the Perovskite Database Project: Bandgap Tuning.
                    Coordinated by Eva Unger: eva.unger@helmholtz-berlin.de
                </p>
            </li>

        </ul>
    </div>
</div>

{% endblock %}