{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">The release paper</h3>
    </div>

    <div class="panel-body">
        <p>This project was first described in a paper published in Nature Energy in 2021 with the title:</p>
        <p>An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles by Jacobsson et al.</p>
        <p>The paper is published open sourced and available at:</p>
        <p><a title="An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles" href="https://www.nature.com/articles/s41560-021-00941-3" target="_blank" rel="noopener">The Release Paper</a></p>
    </div>
</div>


<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Papers based on the Perovskite Database</h3>
    </div>

    <div class="panel-body">
        <p>
            We expect a number of papers to be published based on the Perovskite Database Project
            and the data in the Perovskite Database. The intention is to link to all those papers here.
            Do you think that your paper is missing in the list, please send an email to the project coordinators.
        </p>

        <p><strong>Links to papers</strong></p>
        <p><a title="An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles" href="https://www.nature.com/articles/s41560-021-00941-3" target="_blank" rel="noopener">1. Nature Energy. 2021 12. Jacobsson et al. An open-access database and analysis tool for perovskite solar cells based on the FAIR data principles</a></p>
        <p><!--<a title="Paper n" href="to be filled in" target="_blank" rel="noopener">Paper n</a>--></p>
        <p><a title="The Perovskite Database Project: A Perspective on Collective Data Sharings" href="https://pubs.acs.org/doi/full/10.1021/acsenergylett.2c00330" target="_blank" rel="noopener">2. ACS Energy Letters. 2022. 03 Unger and Jacobsson. The Perovskite Database Project: A Perspective on Collective Data Sharings</a></p>
        <p><!--<a title="Paper n" href="to be filled in" target="_blank" rel="noopener">Paper n</a>--></p>
        <p><a title="Finding the FAIRness in perovskite photovoltaics research" href="https://doi.org/10.1016/j.matt.2022.06.001" target="_blank" rel="noopener">3. Matter. 2022. 08 Hansen and Whittaker-Brooks. Finding the FAIRness in perovskite photovoltaics research</a></p>


    </div>
</div>

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">The Perovskite Database in the Media</h3>
    </div>

    <div class="panel-body">
        <p>
            The project has also been discussed and mentioned in a number of editorial and news articles
        </p>

        <p><a title="Natue Energy" href="https://www.nature.com/articles/s41560-021-00954-y" target="_blank" rel="noopener">1. Nature Energy. A dataquake for solar cells </a></p>
        <p><a title="PV magazine" href="https://www.pv-magazine.com/2021/12/28/the-wikipedia-of-perovskite-solar-cell-research/" target="_blank" rel="noopener">2. PV magazine. 2021 12 25. The Wikipedia of perovskite solar cell research. </a></p>
        <p><a title="Chemistry World" href="https://www.chemistryworld.com/news/painstakingly-curated-perovskite-database-of-over-40000-devices-set-to-speed-up-solar-research/4014935.article/" target="_blank" rel="noopener">3. Chemistry World. 2021 12 17. Painstakingly curated perovskite database of over 40,000 devices set to speed up solar research  </a></p>
        <p><a title="Tech Xplore" href="https://techxplore.com/news/2021-12-wikipedia-perovskite-solar-cell.html" target="_blank" rel="noopener">4. Tech Xplore. 2021 12. The Wikipedia of perovskite solar cell research  </a></p>
        <p><a title="Analytic News" href="https://analytik.news/presse/2021/752.html" target="_blank" rel="noopener">5. Analytic News. Die Wikipedia der Perowskit-Solarzellenforschung  </a></p>
        <p><a title="Por Physik" href="" target="_blank" rel="noopener">6. Pro-physik.de. Collected data on perovskite solar cells  </a></p>
        <p><a title="Scientific American" href="https://www.scientificamerican.com/arabic/articles/news/huge-solar-cell-research-database/" target="_blank" rel="noopener">7. Scientific America in arabic. قاعدة بيانات ضخمة لبحوث الخلايا الشمسية  </a></p>
        <p><a title="Sky News" href="https://www.skynewsarabia.com/technology/1489005-%D8%A8%D9%85%D8%B4%D8%A7%D8%B1%D9%83%D8%A9-%D9%85%D8%B5%D8%B1%D9%8A-%D8%B2%D9%84%D8%B2%D8%A7%D9%84-%D9%85%D8%B9%D9%84%D9%88%D9%85%D8%A7%D8%AA%D9%8A-%D8%B9%D8%A7%D9%84%D9%85%D9%8A-%D8%A8%D9%85%D8%AC%D8%A7%D9%84-%D8%A7%D9%84%D8%AE%D9%84%D8%A7%D9%8A%D8%A7-%D8%A7%D9%84%D8%B4%D9%85%D8%B3%D9%8A%D8%A9" target="_blank" rel="noopener">8. Sky news Arabia. بمشاركة مصري.. "زلزال معلوماتي عالمي" بمجال الخلايا  </a></p>
        <p><a title="N+1" href="https://nplus1.ru/news/2022/01/12/perovskite-database" target="_blank" rel="noopener">9. N+1. Появилась первая открытая база данных по перовскитным солнечным элементам  </a></p>
    </div>
</div>


<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Ongoing projects</h3>
    </div>

    <div class="panel-body">
        <p>
            If you are doing, or would like to do, a collaborative project based on the Perovskite Database,
            you are welcome to advertise that project here.  Just send an email to the project coordinators
            (i.e. Jesper Jacobsson)
        </p>

        <p><strong>Projects</strong></p>
        <ul>
            <li>
                <p>
                    Extending the perovskite database to also include data for tandem cells
                    Coordinated by: Jesper Jacobsson: Jacobsson.jesper.work@gmail.com
                </p>
            </li>

            <li>
                <p>
                    Collective Insight from the Perovskite Database Project: Bandgap Tuning.
                    Coordinated by Eva Unger: eva.unger@helmholtz-berlin.de
                </p>
            </li>

        </ul>
    </div>
</div>

{% endblock %}
