{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">The release paper</h3>
    </div>

    <div class="panel-body">
        <p>This project was first described in a paper published in XXX in XXX with the title</p>
        <p>The Perovskite Database Project: Releasing the Power of the Crowd with FAIR Data Management by</p>
        <p>The paper is published open sourced and available at:</p>
        <p><a title="article name" href="To be filled in" target="_blank" rel="noopener">The Release Paper</a></p>
    </div>
</div>


<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Papers based on the Perovskite Database</h3>
    </div>

    <div class="panel-body">
        <p>
            Several papers have been published based on the Perovskite Database Project,
            and the data in the Perovskite Database. Below is a list of the papers we know about.
            Do you think that your paper is missing in the list, please send an email to the project coordinators?
        </p>

        <p><strong>Links to papers</strong></p>
        <!--<p><a title="Paper 1" href="to be filled in" target="_blank" rel="noopener">Paper 1</a></p>
        <p><a title="Paper n" href="to be filled in" target="_blank" rel="noopener">Paper n</a></p>-->
    </div>
</div>

{% endblock %}