{% extends "layout.html" %}

{% block content %}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Presentations</h3>
    </div>

    <div class="panel-body">
        <p>
            A few presentations have been recorded where the project have been presented.
            Those can be found on the links below
        </p>

        <p><strong>Links to precentations</strong></p>
        <p>
            1. A lecture about the Perovskite Database Project focusing on how the database can be used.
            This lecture was held in December 2020
        </p>
        <p><a title="Paper 1" href="https://youtu.be/ji5DcXHtZnw" target="_blank" rel="noopener">The Perovskite Database Project  Insights gained from pooling all the worlds perovskite device data</a></p>

        <p>
            2. A lecture about the Perovskite Database Project focusing on how the initial data was gathered.
            This lecture was held in December 2020
        </p>
        <p><a title="Paper 1" href="https://youtu.be/jVrOi_INJ9I" target="_blank" rel="noopener">The Perovskite Database Project  How to get Experimentalists to Share their Data in Useful form</a></p>


    </div>
</div>


{% endblock %}