/* makes sure padding and border are included in the total width and height of the elements */
* {
  box-sizing: border-box;
}

/* enable ordering of the components (webkit is for Safari 6.1+) */
#main {
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    position: relative;
    min-height: 200px;
}

/* set ordering for Safari 6.1+ */
div#mainComponent   {-webkit-order: 1;}

/* set ordering standard syntax */
div#mainComponent   {order: 1;}

/* component dependant properties */
div#mainComponent {
    width: 100%;
}

/* specific layout for large screens (default is for small screens like mobile) */
@media screen and (min-width: 950px) {

    /* enable ordering of the components (webkit is for Safari 6.1+) */
    #main {
        flex-flow: row wrap;
    }

    /* set ordering for Safari 6.1+ */
    div#mainComponent   {-webkit-order: 1;}

    /* set ordering standard syntax */
    div#mainComponent   {order: 1;}

    /* component dependant properties */
    div#mainComponent {
    }

}

/* general styling for all document */
.bk-root {
    font-family: sans-serif
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}